body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./1.jpeg");
  background-color: aqua;
}
.Feedback_Form{
  background-color: aliceblue;
  text-align: center;
  align-items: center;
  border-style: solid;
  border-color: rgb(40, 224, 68);
  padding: 5%;
  margin: 2% ;
  border-radius: 5%;
  text-overflow:clip;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
